obj/
*.o
*.d
*.so
*.exe
*.out
*.app
*.ipa
*.apk
*.dll
*.lib
*.a
*.pdb
*.idb
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.tmp
*.log
*.cache
*.DS_Store
zappy_gui
zappy_server
zappy_ai
.vscode/
.idea
/zappy_ref-*
*.sh
*.spec
AI/__pycache__/
AI/build/
AI/dist/
logs/